<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Formulaire html avec flask</title>
        <!-- Styles avec bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <!-- la classe container de bootstrap pour centrer -->
    <body class="container">
        <h1>Application web en Python</h1>
        <p>On utilise une persistance sur une base données en classe de terminale.</p>

        <!-- Ajout d'un élève requête POST -->
        <h2>Ajout d'un élève (POST)</h2>
        <!-- Formulaire d'ajout d'élève -->
        <form action="/" method="post">
            <fieldset class="form-group">
                <legend>Formulaire d'ajout</legend>
                <!-- les attributs name sont récupérés par le serveur
                    lors de la soumission du formulaire avec la méthode POST -->
                    <input type="text" name="nom" placeholder="Nom" />
                    <input type="text" name="prenom" placeholder="Prénom" />
                    <input type="text" name="classe" placeholder="Classe" />
                    <button type="submit" class="btn btn-info">Enregistrer</button>
                </fieldset>
            </form>
            
        <!-- Liste des élèves requête GET-->
        <h2>Liste des élèves (GET)</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom<br></th>
                    <th>Prénom</th>
                    <th>Classe</th>
                </tr>
            </thead>
            <tbody>
                {% for eleve in data %}
                <tr>
                    <td>{{ eleve["nom"] }}</td>
                    <td>{{ eleve["prenom"] }}</td>
                    <td>{{ eleve["classe"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Pied de page -->
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <span class="navbar-text">La mise en forme est faite grâce à
                    <a href="https://getbootstrap.com/">bootstrap</a></span>
            <span class="navbar-text">L'application côté serveur fonctionne grâce à la librairie
                    <a href="http://flask.pocoo.org/">Flask</a> sous Python</span>
        </nav>
    </body>

</html>
